## Introduction to SQL in Jupyter for EGAD

This document introduces the basic layout of SQL in jupyter notebooks. It does not have any complex queries with parameter substitution, just a guide to follow along with.

If run locally, you will need to install the following:

* psycopg2
* pgspecial
* ipython-sql


To install these, run the following commands

*  conda install -c anaconda psycopg2 
*  conda install -c conda-forge pgspecial 
*  conda install -c conda-forge ipython-sql 


The SQL commands themselves will work in any interface you have (psql, RStudio, pgAdmin, etc.).

### Loading the SQL extension

The following cell loads the sql extension and logs-in with your username and password in the following format:

sql postgresql://username:password@DBaddress/DBname

The default example is to a localhost, but it will work for remote connections as well.

In [1]:
%load_ext sql
%sql postgresql://postgres@localhost/egad_analysis

'Connected: postgres@egad_analysis'

### What tables are in the database?

In order to find out which tables are in the database, you use a "meta-command". \d will display all tables in the database

In [2]:
%sql \d

 * postgresql://postgres@localhost/egad_analysis
21 rows affected.

[('public', 'atac_data', 'table', 'postgres'),
 ('public', 'atac_data_peak_id_seq', 'sequence', 'postgres'),
 ('public', 'atac_diff_meta', 'table', 'postgres'),
 ('public', 'atac_diff_meta_individual_samples', 'table', 'postgres'),
 ('public', 'atac_differential_peaks', 'table', 'postgres'),
 ('public', 'atac_differential_peaks_peak_id_seq', 'sequence', 'postgres'),
 ('public', 'atac_meta', 'table', 'postgres'),
 ('public', 'atac_meta_atac_id_seq', 'sequence', 'postgres'),
 ('public', 'gene_differential_expression', 'table', 'postgres'),
 ('public', 'gene_expression', 'table', 'postgres'),
 ('public', 'gene_info', 'table', 'postgres'),
 ('public', 'gene_ontology', 'table', 'postgres'),
 ('public', 'gene_structure', 'table', 'postgres'),
 ('public', 'genome_structure', 'table', 'postgres'),
 ('public',
  'genome_structure_genome_structure_id_seq',
  'sequence',
  'postgres'),
 ('public', 'qpcr_timeseries', 'table', 'postgres'),
 ('public', 'rna_diff_meta', 'table', 'postgres'),
 ('public', 'rna_diff_meta_individual_samples', 'table', 'postgres'),
 ('public', 'rna_expression_rna_id_seq', 'sequence', 'postgres'),
 ('public', 'rna_meta', 'table', 'postgres'),
 ('public', 'rna_meta_rna_id_seq', 'sequence', 'postgres')]

Here you have 2 types of items, tables and sequences. Tables are as you might expect, a table which has data and that you can interact with. A sequence is an object that keeps track of sequential columns in a table. An example would be a table where it auto-generates a primary key as a new integer, the sequence object keeps track of what number to put in the next row.

### Basics: give me the information in a table

SQL syntax starts out very straightforward (and then gets complicated fast). The basics of a query are:

1. SELECT
2. FROM 

SELECT is a command that picks the columns to return. 

FROM indicates which table(s) to get the columns

Another command, LIMIT, indicates how many rows we want to return.

In [3]:
%%sql
/* Example, give the first 5 lines in the rna_meta table */
SELECT *
FROM rna_meta
LIMIT 5;

 * postgresql://postgres@localhost/egad_analysis
5 rows affected.

[(0, 'Israel et al.', 'egg', 'L.variegatus', datetime.date(2016, 3, 4), 'Log2-transformed, normalized count data', 'counts', 1),
 (1, 'Israel et al.', 'egg', 'L.variegatus', datetime.date(2016, 3, 4), 'Log2-transformed, normalized count data', 'counts', 2),
 (2, 'Israel et al.', 'egg', 'L.variegatus', datetime.date(2016, 3, 4), 'Log2-transformed, normalized count data', 'counts', 3),
 (3, 'Israel et al.', '4cell', 'L.variegatus', datetime.date(2016, 3, 4), 'Log2-transformed, normalized count data', 'counts', 1),
 (4, 'Israel et al.', '4cell', 'L.variegatus', datetime.date(2016, 3, 4), 'Log2-transformed, normalized count data', 'counts', 2)]

### Query for gene expression

Lets say I'm interested in a specific gene, ALX1 (SPU_025302) and I wanted to see all of my expression data for it (In any dataset). We have two tables that have this information, rna_meta and gene_expression. I want to know:

1. The dataset
2. The expression value

I'll need to use some additional functions

1. INNER JOIN
2. WHERE

INNER JOIN combines two tables together based on a foreign key and returns only the rows that match.

WHERE is a filter that reduces the results returned. Here, we want to just look at one gene, so WHERE will filter for out gene_id of interest.

In [4]:
%%sql

/* Just give the following columns, table_name.column */
SELECT rm.rna_id, rm.analyst, rm.units, rm.dev_stage, rm.replicate_group, ge.gene_id, ge.expression

/* Start with the rna_meta table, shorten the name to rm for this query */
FROM rna_meta rm 

/* Join with the gene_expression  */
	INNER JOIN gene_expression ge ON ( rm.rna_id = ge.rna_id  )  
    
/* Only return rows that have my gene  */
WHERE ge.gene_id = 'SPU_025302'

 * postgresql://postgres@localhost/egad_analysis
112 rows affected.

[(0, 'Israel et al.', 'counts', 'egg', 1, 'SPU_025302', 5.74640874814173),
 (1, 'Israel et al.', 'counts', 'egg', 2, 'SPU_025302', 0.881978884327768),
 (2, 'Israel et al.', 'counts', 'egg', 3, 'SPU_025302', 6.25104394933344),
 (3, 'Israel et al.', 'counts', '4cell', 1, 'SPU_025302', 0.571060806647602),
 (4, 'Israel et al.', 'counts', '4cell', 2, 'SPU_025302', 6.70851086095709),
 (5, 'Israel et al.', 'counts', '4cell', 3, 'SPU_025302', 0.502555229109198),
 (6, 'Israel et al.', 'counts', '16cell', 1, 'SPU_025302', 5.17910471715389),
 (7, 'Israel et al.', 'counts', '16cell', 2, 'SPU_025302', 5.4871842746757),
 (8, 'Israel et al.', 'counts', '16cell', 3, 'SPU_025302', 5.68551599092788),
 (9, 'Israel et al.', 'counts', '32cell', 1, 'SPU_025302', 0.356968657310528),
 (10, 'Israel et al.', 'counts', '32cell', 2, 'SPU_025302', 3.29704467146025),
 (11, 'Israel et al.', 'counts', '32cell', 3, 'SPU_025302', 1.09730159327261),
 (12, 'Israel et al.', 'counts', 'Blastula', 1, 'SPU_025302', 6.69399389976166),
 (13, 'Israel et al.', 'counts', 'Blastula', 2, 'SPU_025302', 6.43905115599415),
 (14, 'Israel et al.', 'counts', 'Blastula', 3, 'SPU_025302', 6.46223725255949),
 (15, 'Israel et al.', 'counts', 'Gastrula', 1, 'SPU_025302', 5.77061755786196),
 (16, 'Israel et al.', 'counts', 'Gastrula', 2, 'SPU_025302', 6.11417250955998),
 (17, 'Israel et al.', 'counts', 'Gastrula', 3, 'SPU_025302', 5.93819248000022),
 (18, 'Israel et al.', 'counts', 'Early_Larva', 1, 'SPU_025302', 4.70908955436176),
 (19, 'Israel et al.', 'counts', 'Early_Larva', 2, 'SPU_025302', 4.69585308503745),
 (20, 'Israel et al.', 'counts', 'Early_Larva', 3, 'SPU_025302', 4.67669891933521),
 (21, 'Israel et al.', 'counts', 'egg', 1, 'SPU_025302', 6.4524483352003),
 (22, 'Israel et al.', 'counts', 'egg', 2, 'SPU_025302', 5.38143014610471),
 (23, 'Israel et al.', 'counts', 'egg', 3, 'SPU_025302', 6.96865681466398),
 (24, 'Israel et al.', 'counts', '4cell', 1, 'SPU_025302', 7.54931050986042),
 (25, 'Israel et al.', 'counts', '4cell', 2, 'SPU_025302', 4.10772468769398),
 (26, 'Israel et al.', 'counts', '4cell', 3, 'SPU_025302', 5.04940444896924),
 (27, 'Israel et al.', 'counts', '16cell', 1, 'SPU_025302', 3.36144408161766),
 (28, 'Israel et al.', 'counts', '16cell', 2, 'SPU_025302', 3.16086455576182),
 (29, 'Israel et al.', 'counts', '16cell', 3, 'SPU_025302', 3.79051024418391),
 (30, 'Israel et al.', 'counts', '32cell', 1, 'SPU_025302', 4.0119044688397),
 (31, 'Israel et al.', 'counts', '32cell', 2, 'SPU_025302', 4.04900776445366),
 (32, 'Israel et al.', 'counts', '32cell', 3, 'SPU_025302', 4.02008632899928),
 (33, 'Israel et al.', 'counts', 'Blastula', 1, 'SPU_025302', 5.58289007919555),
 (34, 'Israel et al.', 'counts', 'Blastula', 2, 'SPU_025302', 6.1221934561859),
 (35, 'Israel et al.', 'counts', 'Blastula', 3, 'SPU_025302', 6.65123022046225),
 (36, 'Israel et al.', 'counts', 'Gastrula', 1, 'SPU_025302', 6.1322901784882),
 (37, 'Israel et al.', 'counts', 'Gastrula', 2, 'SPU_025302', 5.66455591192818),
 (38, 'Israel et al.', 'counts', 'Gastrula', 3, 'SPU_025302', 5.56511584101495),
 (39, 'Israel et al.', 'counts', 'Early_Larva', 1, 'SPU_025302', 5.36802897467457),
 (40, 'Israel et al.', 'counts', 'Early_Larva', 2, 'SPU_025302', 5.37225122422065),
 (41, 'Israel et al.', 'counts', 'Early_Larva', 3, 'SPU_025302', 5.4313289549048),
 (42, 'Israel et al.', 'counts', 'egg', 1, 'SPU_025302', 2.3550826751663),
 (43, 'Israel et al.', 'counts', 'egg', 2, 'SPU_025302', 3.4997339257778),
 (44, 'Israel et al.', 'counts', 'egg', 3, 'SPU_025302', 4.67010482366323),
 (45, 'Israel et al.', 'counts', '4cell', 1, 'SPU_025302', 2.29914078675553),
 (46, 'Israel et al.', 'counts', '4cell', 2, 'SPU_025302', 2.01418902957729),
 (47, 'Israel et al.', 'counts', '4cell', 3, 'SPU_025302', 2.71301868935035),
 (48, 'Israel et al.', 'counts', '16cell', 1, 'SPU_025302', 1.53543914275102),
 (49, 'Israel et al.', 'counts', '16cell', 2, 'SPU_025302', 2.23644891806572),
 (50, 'Israel et al.', 'counts', '16cell', 3, 'SPU_025302', 2.57912122408136),
 (51, 'Israel et al.', 'counts', '32cell', 1, 'SPU_025302', 3.05117602387866),
 (52, 'Israel et al.', 'counts', '32cell', 2, 'SPU_025302', 2.10949933531156),
 (53, 'Israel et al.', 'counts', '32cell', 3, 'SPU_025302', 3.49508144546388),
 (54, 'Israel et al.', 'counts', 'Blastula', 1, 'SPU_025302', 1.98694802135414),
 (55, 'Israel et al.', 'counts', 'Blastula', 2, 'SPU_025302', 4.07213290522342),
 (56, 'Israel et al.', 'counts', 'Blastula', 3, 'SPU_025302', 3.30549212131188),
 (57, 'Israel et al.', 'counts', 'Gastrula', 1, 'SPU_025302', 4.65904111663149),
 (58, 'Israel et al.', 'counts', 'Gastrula', 2, 'SPU_025302', 4.30490047163969),
 (59, 'Israel et al.', 'counts', 'Gastrula', 3, 'SPU_025302', 4.94501220501617),
 (60, 'Israel et al.', 'counts', 'Early_Larva', 1, 'SPU_025302', 4.12707454814142),
 (61, 'Israel et al.', 'counts', 'Early_Larva', 2, 'SPU_025302', 3.70267473374231),
 (62, 'Israel et al.', 'counts', 'Early_Larva', 3, 'SPU_025302', 5.17576437352665),
 (63, 'Materna et al.', 'counts', 'Hour_0', 1, 'SPU_025302', 4.0),
 (64, 'Materna et al.', 'counts', 'Hour_1', 1, 'SPU_025302', 4.0),
 (65, 'Materna et al.', 'counts', 'Hour_2', 1, 'SPU_025302', 4.0),
 (66, 'Materna et al.', 'counts', 'Hour_3', 1, 'SPU_025302', 5.0),
 (67, 'Materna et al.', 'counts', 'Hour_4', 1, 'SPU_025302', 6.0),
 (68, 'Materna et al.', 'counts', 'Hour_5', 1, 'SPU_025302', 13.0),
 (69, 'Materna et al.', 'counts', 'Hour_6', 1, 'SPU_025302', 52.0),
 (70, 'Materna et al.', 'counts', 'Hour_7', 1, 'SPU_025302', 79.0),
 (71, 'Materna et al.', 'counts', 'Hour_8', 1, 'SPU_025302', 124.0),
 (72, 'Materna et al.', 'counts', 'Hour_9', 1, 'SPU_025302', 688.0),
 (73, 'Materna et al.', 'counts', 'Hour_10', 1, 'SPU_025302', 1288.0),
 (74, 'Materna et al.', 'counts', 'Hour_11', 1, 'SPU_025302', 1784.0),
 (75, 'Materna et al.', 'counts', 'Hour_12', 1, 'SPU_025302', 1784.0),
 (76, 'Materna et al.', 'counts', 'Hour_13', 1, 'SPU_025302', 1629.0),
 (77, 'Materna et al.', 'counts', 'Hour_14', 1, 'SPU_025302', 1331.0),
 (78, 'Materna et al.', 'counts', 'Hour_15', 1, 'SPU_025302', 1064.0),
 (79, 'Materna et al.', 'counts', 'Hour_16', 1, 'SPU_025302', 915.0),
 (80, 'Materna et al.', 'counts', 'Hour_17', 1, 'SPU_025302', 886.0),
 (81, 'Materna et al.', 'counts', 'Hour_18', 1, 'SPU_025302', 886.0),
 (82, 'Materna et al.', 'counts', 'Hour_19', 1, 'SPU_025302', 984.0),
 (83, 'Materna et al.', 'counts', 'Hour_20', 1, 'SPU_025302', 1079.0),
 (84, 'Materna et al.', 'counts', 'Hour_21', 1, 'SPU_025302', 1184.0),
 (85, 'Materna et al.', 'counts', 'Hour_22', 1, 'SPU_025302', 1249.0),
 (86, 'Materna et al.', 'counts', 'Hour_23', 1, 'SPU_025302', 1361.0),
 (87, 'Materna et al.', 'counts', 'Hour_24', 1, 'SPU_025302', 1460.0),
 (88, 'Materna et al.', 'counts', 'Hour_25', 1, 'SPU_025302', 1484.0),
 (89, 'Materna et al.', 'counts', 'Hour_26', 1, 'SPU_025302', 1484.0),
 (90, 'Materna et al.', 'counts', 'Hour_27', 1, 'SPU_025302', 1413.0),
 (91, 'Materna et al.', 'counts', 'Hour_28', 1, 'SPU_025302', 1283.0),
 (92, 'Materna et al.', 'counts', 'Hour_29', 1, 'SPU_025302', 1120.0),
 (93, 'Materna et al.', 'counts', 'Hour_30', 1, 'SPU_025302', 968.0),
 (94, 'Materna et al.', 'counts', 'Hour_31', 1, 'SPU_025302', 843.0),
 (95, 'Materna et al.', 'counts', 'Hour_32', 1, 'SPU_025302', 774.0),
 (96, 'Materna et al.', 'counts', 'Hour_33', 1, 'SPU_025302', 739.0),
 (97, 'Materna et al.', 'counts', 'Hour_34', 1, 'SPU_025302', 685.0),
 (98, 'Materna et al.', 'counts', 'Hour_35', 1, 'SPU_025302', 652.0),
 (99, 'Materna et al.', 'counts', 'Hour_36', 1, 'SPU_025302', 619.0),
 (100, 'Materna et al.', 'counts', 'Hour_37', 1, 'SPU_025302', 608.0),
 (101, 'Materna et al.', 'counts', 'Hour_38', 1, 'SPU_025302', 597.0),
 (102, 'Materna et al.', 'counts', 'Hour_39', 1, 'SPU_025302', 581.0),
 (103, 'Materna et al.', 'counts', 'Hour_40', 1, 'SPU_025302', 581.0),
 (104, 'Materna et al.', 'counts', 'Hour_41', 1, 'SPU_025302', 607.0),
 (105, 'Materna et al.', 'counts', 'Hour_42', 1, 'SPU_025302', 621.0),
 (106, 'Materna et al.', 'counts', 'Hour_43', 1, 'SPU_025302', 649.0),
 (107, 'Materna et al.', 'counts', 'Hour_44', 1, 'SPU_025302', 655.0),
 (108, 'Materna et al.', 'counts', 'Hour_45', 1, 'SPU_025302', 654.0),
 (109, 'Materna et al.', 'counts', 'Hour_46', 1, 'SPU_025302', 667.0),
 (110, 'Materna et al.', 'counts', 'Hour_47', 1, 'SPU_025302', 675.0),
 (111, 'Materna et al.', 'counts', 'Hour_48', 1, 'SPU_025302', 698.0)]

It looks like all of the datasets have this gene. 

But, what if I don't know the ID of the gene I want to find? Here we will use a '~' symbol which means to search with a regular expression.

In [5]:
%%sql 

SELECT *
FROM gene_info gi
WHERE gi.name ~ 'Alx'

 * postgresql://postgres@localhost/egad_analysis
5 rows affected.

[('LVA_013730', 'Lv-Alx1_1', 'aristaless-like homeobox 1-like'),
 ('LVA_015730', 'Lv-Alx4', 'aristaless-like homeobox 4-like'),
 ('SPU_022816', 'Sp-Alx4', 'aristaless-like homeobox 4-like, Alx1/3/4-like'),
 ('SPU_022817', 'Sp-Alx1_1', 'aristaless-like homeobox 1-like, Cart1/Alx3/Alx4 subfamily-like'),
 ('SPU_025302', 'Sp-Alx1', 'aristaless-like homeobox 1-like, Alx1(Cart1)/Alx3/Alx4 subfamily-like, Sp-Alx1_1')]

Maybe all of the Alx genes are interesting. We can actually use this table to select which genes we want. Here is my next query (in english):

Give me all the expression data from the Israel et al. study for Alx genes.

In [6]:
%%sql

SELECT rm.analyst, rm.units, rm.dev_stage, rm.replicate_group, gi.name, ge.gene_id, ge.expression
FROM rna_meta rm
    INNER JOIN gene_expression ge ON ( rm.rna_id = ge.rna_id )
        INNER JOIN gene_info gi ON ( ge.gene_id = gi.gene_id )
WHERE  gi.name ~ 'Alx' AND
    rm.analyst = 'Israel et al.'

 * postgresql://postgres@localhost/egad_analysis
126 rows affected.

[('Israel et al.', 'counts', 'egg', 1, 'Sp-Alx4', 'SPU_022816', 1.29122094736079),
 ('Israel et al.', 'counts', 'egg', 2, 'Sp-Alx4', 'SPU_022816', 2.03232603557774),
 ('Israel et al.', 'counts', 'egg', 3, 'Sp-Alx4', 'SPU_022816', 0.540191224117466),
 ('Israel et al.', 'counts', '4cell', 1, 'Sp-Alx4', 'SPU_022816', 1.72538072866277),
 ('Israel et al.', 'counts', '4cell', 2, 'Sp-Alx4', 'SPU_022816', 1.62246506342429),
 ('Israel et al.', 'counts', '4cell', 3, 'Sp-Alx4', 'SPU_022816', 1.35766579597417),
 ('Israel et al.', 'counts', '16cell', 1, 'Sp-Alx4', 'SPU_022816', 1.29617934468169),
 ('Israel et al.', 'counts', '16cell', 2, 'Sp-Alx4', 'SPU_022816', 0.748389433094198),
 ('Israel et al.', 'counts', '16cell', 3, 'Sp-Alx4', 'SPU_022816', 0.786074455158197),
 ('Israel et al.', 'counts', '32cell', 1, 'Sp-Alx4', 'SPU_022816', 0.189496955129825),
 ('Israel et al.', 'counts', '32cell', 2, 'Sp-Alx4', 'SPU_022816', 0.11438570989749),
 ('Israel et al.', 'counts', '32cell', 3, 'Sp-Alx4', 'SPU_022816', 1.25322013200943),
 ('Israel et al.', 'counts', 'Blastula', 1, 'Sp-Alx4', 'SPU_022816', 3.33570744290318),
 ('Israel et al.', 'counts', 'Blastula', 2, 'Sp-Alx4', 'SPU_022816', 3.36804888317537),
 ('Israel et al.', 'counts', 'Blastula', 3, 'Sp-Alx4', 'SPU_022816', 2.80186449591996),
 ('Israel et al.', 'counts', 'Gastrula', 1, 'Sp-Alx4', 'SPU_022816', 4.81160391573558),
 ('Israel et al.', 'counts', 'Gastrula', 2, 'Sp-Alx4', 'SPU_022816', 4.32899605569478),
 ('Israel et al.', 'counts', 'Gastrula', 3, 'Sp-Alx4', 'SPU_022816', 4.33983561789658),
 ('Israel et al.', 'counts', 'Early_Larva', 1, 'Sp-Alx4', 'SPU_022816', 2.60094229230678),
 ('Israel et al.', 'counts', 'Early_Larva', 2, 'Sp-Alx4', 'SPU_022816', 2.21524139470302),
 ('Israel et al.', 'counts', 'Early_Larva', 3, 'Sp-Alx4', 'SPU_022816', 2.32687477765335),
 ('Israel et al.', 'counts', 'egg', 1, 'Sp-Alx4', 'SPU_022816', 1.78187767836653),
 ('Israel et al.', 'counts', 'egg', 2, 'Sp-Alx4', 'SPU_022816', 1.80885684002546),
 ('Israel et al.', 'counts', 'egg', 3, 'Sp-Alx4', 'SPU_022816', 1.77418093987627),
 ('Israel et al.', 'counts', '4cell', 1, 'Sp-Alx4', 'SPU_022816', 3.10078448129996),
 ('Israel et al.', 'counts', '4cell', 2, 'Sp-Alx4', 'SPU_022816', 1.81053153309672),
 ('Israel et al.', 'counts', '4cell', 3, 'Sp-Alx4', 'SPU_022816', 1.79180450663491),
 ('Israel et al.', 'counts', '16cell', 1, 'Sp-Alx4', 'SPU_022816', 1.51376254293175),
 ('Israel et al.', 'counts', '16cell', 2, 'Sp-Alx4', 'SPU_022816', 2.00280754331607),
 ('Israel et al.', 'counts', '16cell', 3, 'Sp-Alx4', 'SPU_022816', 2.57163082257521),
 ('Israel et al.', 'counts', '32cell', 1, 'Sp-Alx4', 'SPU_022816', 1.56568373008625),
 ('Israel et al.', 'counts', '32cell', 2, 'Sp-Alx4', 'SPU_022816', 1.97618033545823),
 ('Israel et al.', 'counts', '32cell', 3, 'Sp-Alx4', 'SPU_022816', 1.96342638477606),
 ('Israel et al.', 'counts', 'Blastula', 1, 'Sp-Alx4', 'SPU_022816', 5.47324664843322),
 ('Israel et al.', 'counts', 'Blastula', 2, 'Sp-Alx4', 'SPU_022816', 5.94612048039157),
 ('Israel et al.', 'counts', 'Blastula', 3, 'Sp-Alx4', 'SPU_022816', 6.33934788061631),
 ('Israel et al.', 'counts', 'Gastrula', 1, 'Sp-Alx4', 'SPU_022816', 4.98309371820426),
 ('Israel et al.', 'counts', 'Gastrula', 2, 'Sp-Alx4', 'SPU_022816', 6.01120945894322),
 ('Israel et al.', 'counts', 'Gastrula', 3, 'Sp-Alx4', 'SPU_022816', 4.61836808878766),
 ('Israel et al.', 'counts', 'Early_Larva', 1, 'Sp-Alx4', 'SPU_022816', 2.99402140381495),
 ('Israel et al.', 'counts', 'Early_Larva', 2, 'Sp-Alx4', 'SPU_022816', 3.07178736425981),
 ('Israel et al.', 'counts', 'Early_Larva', 3, 'Sp-Alx4', 'SPU_022816', 3.2121957410964),
 ('Israel et al.', 'counts', 'egg', 1, 'Sp-Alx4', 'SPU_022816', 0.458595377042936),
 ('Israel et al.', 'counts', 'egg', 2, 'Sp-Alx4', 'SPU_022816', 0.599871059705888),
 ('Israel et al.', 'counts', 'egg', 3, 'Sp-Alx4', 'SPU_022816', 0.905763952665687),
 ('Israel et al.', 'counts', '4cell', 1, 'Sp-Alx4', 'SPU_022816', 0.457846470662847),
 ('Israel et al.', 'counts', '4cell', 2, 'Sp-Alx4', 'SPU_022816', 0.505124806661147),
 ('Israel et al.', 'counts', '4cell', 3, 'Sp-Alx4', 'SPU_022816', 0.681686049374394),
 ('Israel et al.', 'counts', '16cell', 1, 'Sp-Alx4', 'SPU_022816', 0.887094881813249),
 ('Israel et al.', 'counts', '16cell', 2, 'Sp-Alx4', 'SPU_022816', 0.295472871854886),
 ('Israel et al.', 'counts', '16cell', 3, 'Sp-Alx4', 'SPU_022816', 0.413287598468491),
 ('Israel et al.', 'counts', '32cell', 1, 'Sp-Alx4', 'SPU_022816', 0.561068304973286),
 ('Israel et al.', 'counts', '32cell', 2, 'Sp-Alx4', 'SPU_022816', 0.582375125406077),
 ('Israel et al.', 'counts', '32cell', 3, 'Sp-Alx4', 'SPU_022816', 0.290865482613121),
 ('Israel et al.', 'counts', 'Blastula', 1, 'Sp-Alx4', 'SPU_022816', 0.494491594261023),
 ('Israel et al.', 'counts', 'Blastula', 2, 'Sp-Alx4', 'SPU_022816', 0.119621534145941),
 ('Israel et al.', 'counts', 'Blastula', 3, 'Sp-Alx4', 'SPU_022816', 1.16181774269473),
 ('Israel et al.', 'counts', 'Gastrula', 1, 'Sp-Alx4', 'SPU_022816', 3.79364110736181),
 ('Israel et al.', 'counts', 'Gastrula', 2, 'Sp-Alx4', 'SPU_022816', 5.23646558462516),
 ('Israel et al.', 'counts', 'Gastrula', 3, 'Sp-Alx4', 'SPU_022816', 4.87159279534673),
 ('Israel et al.', 'counts', 'Early_Larva', 1, 'Sp-Alx4', 'SPU_022816', 4.42441915685883),
 ('Israel et al.', 'counts', 'Early_Larva', 2, 'Sp-Alx4', 'SPU_022816', 4.25022129927055),
 ('Israel et al.', 'counts', 'Early_Larva', 3, 'Sp-Alx4', 'SPU_022816', 4.04749945658542),
 ('Israel et al.', 'counts', 'egg', 1, 'Sp-Alx1', 'SPU_025302', 5.74640874814173),
 ('Israel et al.', 'counts', 'egg', 2, 'Sp-Alx1', 'SPU_025302', 0.881978884327768),
 ('Israel et al.', 'counts', 'egg', 3, 'Sp-Alx1', 'SPU_025302', 6.25104394933344),
 ('Israel et al.', 'counts', '4cell', 1, 'Sp-Alx1', 'SPU_025302', 0.571060806647602),
 ('Israel et al.', 'counts', '4cell', 2, 'Sp-Alx1', 'SPU_025302', 6.70851086095709),
 ('Israel et al.', 'counts', '4cell', 3, 'Sp-Alx1', 'SPU_025302', 0.502555229109198),
 ('Israel et al.', 'counts', '16cell', 1, 'Sp-Alx1', 'SPU_025302', 5.17910471715389),
 ('Israel et al.', 'counts', '16cell', 2, 'Sp-Alx1', 'SPU_025302', 5.4871842746757),
 ('Israel et al.', 'counts', '16cell', 3, 'Sp-Alx1', 'SPU_025302', 5.68551599092788),
 ('Israel et al.', 'counts', '32cell', 1, 'Sp-Alx1', 'SPU_025302', 0.356968657310528),
 ('Israel et al.', 'counts', '32cell', 2, 'Sp-Alx1', 'SPU_025302', 3.29704467146025),
 ('Israel et al.', 'counts', '32cell', 3, 'Sp-Alx1', 'SPU_025302', 1.09730159327261),
 ('Israel et al.', 'counts', 'Blastula', 1, 'Sp-Alx1', 'SPU_025302', 6.69399389976166),
 ('Israel et al.', 'counts', 'Blastula', 2, 'Sp-Alx1', 'SPU_025302', 6.43905115599415),
 ('Israel et al.', 'counts', 'Blastula', 3, 'Sp-Alx1', 'SPU_025302', 6.46223725255949),
 ('Israel et al.', 'counts', 'Gastrula', 1, 'Sp-Alx1', 'SPU_025302', 5.77061755786196),
 ('Israel et al.', 'counts', 'Gastrula', 2, 'Sp-Alx1', 'SPU_025302', 6.11417250955998),
 ('Israel et al.', 'counts', 'Gastrula', 3, 'Sp-Alx1', 'SPU_025302', 5.93819248000022),
 ('Israel et al.', 'counts', 'Early_Larva', 1, 'Sp-Alx1', 'SPU_025302', 4.70908955436176),
 ('Israel et al.', 'counts', 'Early_Larva', 2, 'Sp-Alx1', 'SPU_025302', 4.69585308503745),
 ('Israel et al.', 'counts', 'Early_Larva', 3, 'Sp-Alx1', 'SPU_025302', 4.67669891933521),
 ('Israel et al.', 'counts', 'egg', 1, 'Sp-Alx1', 'SPU_025302', 6.4524483352003),
 ('Israel et al.', 'counts', 'egg', 2, 'Sp-Alx1', 'SPU_025302', 5.38143014610471),
 ('Israel et al.', 'counts', 'egg', 3, 'Sp-Alx1', 'SPU_025302', 6.96865681466398),
 ('Israel et al.', 'counts', '4cell', 1, 'Sp-Alx1', 'SPU_025302', 7.54931050986042),
 ('Israel et al.', 'counts', '4cell', 2, 'Sp-Alx1', 'SPU_025302', 4.10772468769398),
 ('Israel et al.', 'counts', '4cell', 3, 'Sp-Alx1', 'SPU_025302', 5.04940444896924),
 ('Israel et al.', 'counts', '16cell', 1, 'Sp-Alx1', 'SPU_025302', 3.36144408161766),
 ('Israel et al.', 'counts', '16cell', 2, 'Sp-Alx1', 'SPU_025302', 3.16086455576182),
 ('Israel et al.', 'counts', '16cell', 3, 'Sp-Alx1', 'SPU_025302', 3.79051024418391),
 ('Israel et al.', 'counts', '32cell', 1, 'Sp-Alx1', 'SPU_025302', 4.0119044688397),
 ('Israel et al.', 'counts', '32cell', 2, 'Sp-Alx1', 'SPU_025302', 4.04900776445366),
 ('Israel et al.', 'counts', '32cell', 3, 'Sp-Alx1', 'SPU_025302', 4.02008632899928),
 ('Israel et al.', 'counts', 'Blastula', 1, 'Sp-Alx1', 'SPU_025302', 5.58289007919555),
 ('Israel et al.', 'counts', 'Blastula', 2, 'Sp-Alx1', 'SPU_025302', 6.1221934561859),
 ('Israel et al.', 'counts', 'Blastula', 3, 'Sp-Alx1', 'SPU_025302', 6.65123022046225),
 ('Israel et al.', 'counts', 'Gastrula', 1, 'Sp-Alx1', 'SPU_025302', 6.1322901784882),
 ('Israel et al.', 'counts', 'Gastrula', 2, 'Sp-Alx1', 'SPU_025302', 5.66455591192818),
 ('Israel et al.', 'counts', 'Gastrula', 3, 'Sp-Alx1', 'SPU_025302', 5.56511584101495),
 ('Israel et al.', 'counts', 'Early_Larva', 1, 'Sp-Alx1', 'SPU_025302', 5.36802897467457),
 ('Israel et al.', 'counts', 'Early_Larva', 2, 'Sp-Alx1', 'SPU_025302', 5.37225122422065),
 ('Israel et al.', 'counts', 'Early_Larva', 3, 'Sp-Alx1', 'SPU_025302', 5.4313289549048),
 ('Israel et al.', 'counts', 'egg', 1, 'Sp-Alx1', 'SPU_025302', 2.3550826751663),
 ('Israel et al.', 'counts', 'egg', 2, 'Sp-Alx1', 'SPU_025302', 3.4997339257778),
 ('Israel et al.', 'counts', 'egg', 3, 'Sp-Alx1', 'SPU_025302', 4.67010482366323),
 ('Israel et al.', 'counts', '4cell', 1, 'Sp-Alx1', 'SPU_025302', 2.29914078675553),
 ('Israel et al.', 'counts', '4cell', 2, 'Sp-Alx1', 'SPU_025302', 2.01418902957729),
 ('Israel et al.', 'counts', '4cell', 3, 'Sp-Alx1', 'SPU_025302', 2.71301868935035),
 ('Israel et al.', 'counts', '16cell', 1, 'Sp-Alx1', 'SPU_025302', 1.53543914275102),
 ('Israel et al.', 'counts', '16cell', 2, 'Sp-Alx1', 'SPU_025302', 2.23644891806572),
 ('Israel et al.', 'counts', '16cell', 3, 'Sp-Alx1', 'SPU_025302', 2.57912122408136),
 ('Israel et al.', 'counts', '32cell', 1, 'Sp-Alx1', 'SPU_025302', 3.05117602387866),
 ('Israel et al.', 'counts', '32cell', 2, 'Sp-Alx1', 'SPU_025302', 2.10949933531156),
 ('Israel et al.', 'counts', '32cell', 3, 'Sp-Alx1', 'SPU_025302', 3.49508144546388),
 ('Israel et al.', 'counts', 'Blastula', 1, 'Sp-Alx1', 'SPU_025302', 1.98694802135414),
 ('Israel et al.', 'counts', 'Blastula', 2, 'Sp-Alx1', 'SPU_025302', 4.07213290522342),
 ('Israel et al.', 'counts', 'Blastula', 3, 'Sp-Alx1', 'SPU_025302', 3.30549212131188),
 ('Israel et al.', 'counts', 'Gastrula', 1, 'Sp-Alx1', 'SPU_025302', 4.65904111663149),
 ('Israel et al.', 'counts', 'Gastrula', 2, 'Sp-Alx1', 'SPU_025302', 4.30490047163969),
 ('Israel et al.', 'counts', 'Gastrula', 3, 'Sp-Alx1', 'SPU_025302', 4.94501220501617),
 ('Israel et al.', 'counts', 'Early_Larva', 1, 'Sp-Alx1', 'SPU_025302', 4.12707454814142),
 ('Israel et al.', 'counts', 'Early_Larva', 2, 'Sp-Alx1', 'SPU_025302', 3.70267473374231),
 ('Israel et al.', 'counts', 'Early_Larva', 3, 'Sp-Alx1', 'SPU_025302', 5.17576437352665)]

Cool, but maybe I want the average among my replicates for plotting

In [7]:
%%sql

SELECT rm.analyst,rm.dev_stage, gi.name, ge.gene_id, AVG(ge.expression) as average_gene_expression
FROM rna_meta rm
    INNER JOIN gene_expression ge ON ( rm.rna_id = ge.rna_id )
        INNER JOIN gene_info gi ON ( ge.gene_id = gi.gene_id )
WHERE  gi.name ~ 'Alx' AND
    rm.analyst = 'Israel et al.'
GROUP BY rm.analyst, rm.dev_stage, gi.name,ge.gene_id

 * postgresql://postgres@localhost/egad_analysis
14 rows affected.

[('Israel et al.', '16cell', 'Sp-Alx1', 'SPU_025302', 3.66840368324655),
 ('Israel et al.', '16cell', 'Sp-Alx4', 'SPU_022816', 1.16829994376597),
 ('Israel et al.', '32cell', 'Sp-Alx1', 'SPU_025302', 2.83200780988779),
 ('Israel et al.', '32cell', 'Sp-Alx4', 'SPU_022816', 0.944078017816641),
 ('Israel et al.', '4cell', 'Sp-Alx1', 'SPU_025302', 3.50165722765786),
 ('Israel et al.', '4cell', 'Sp-Alx4', 'SPU_022816', 1.45036549286569),
 ('Israel et al.', 'Blastula', 'Sp-Alx1', 'SPU_025302', 5.25735212356094),
 ('Israel et al.', 'Blastula', 'Sp-Alx4', 'SPU_022816', 3.22669630028237),
 ('Israel et al.', 'Early_Larva', 'Sp-Alx1', 'SPU_025302', 4.80652937421609),
 ('Israel et al.', 'Early_Larva', 'Sp-Alx4', 'SPU_022816', 3.23813365406101),
 ('Israel et al.', 'Gastrula', 'Sp-Alx1', 'SPU_025302', 5.45487758579343),
 ('Israel et al.', 'Gastrula', 'Sp-Alx4', 'SPU_022816', 4.77720070473286),
 ('Israel et al.', 'egg', 'Sp-Alx1', 'SPU_025302', 4.68965425581992),
 ('Israel et al.', 'egg', 'Sp-Alx4', 'SPU_022816', 1.24365378385986)]

Here, we had to select how we wanted to manupulate the column in the SELECT statement. 

The GROUP BY statement says how to group our columns. If you display a column and are not performing an aggregate function, you need to include it in the GROUP BY or Postgres will throw an error